<div class="row text-center m-2">
  <h1>Profilo di <%=@user.username%></h1>
</div>
<div class="row justify-content-evenly">
  <div class="col-5 ">
    <%= image_tag "profilo2.jpeg",class:"card-img-top",alt:"Card image cap" %>
  </div>
</div>

<div class="row">
