<%= render "/header" %>
<div class="row pt-2">
  <div class="col-4">
    <h1>Modifica profilo</h1>  
  </div>
  <div class="col-4">
    <%= link_to "Torna al mio profilo", users_path %>
  </div>  
  <div class="col-4 text-end pe-4">
  <%=link_to "Elimina questo utente",user_path(@user),data: {
                    turbo_method: :delete,
                    turbo_confirm: "Sei sicuro?"
                  } %>
  </div>
</div>
<%= render "form", user: @user %>

