 <%=render "/header"%>
<%= render @user %>
<div class="row m-2">
    <textarea rows=8 cols=50 placeholder="<%= @user.commento %>" disabled></textarea>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');
    new Chart(ctx, {    
        type: 'pie',
        data: {
        labels: [ "RED"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            borderWidth: 1
        }]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: "Wallet"
                }
            }
        }
    });
</script>

