<div class="row rounded bg-white shadow p-6">
<div class="col-10">
    <h1>Comunicazione inviata!</h1>
    <p>Grazie per la collaborazione. Se ci sarà bisogno ti ricontatteremo tramite l'indirizzo mail fornita.</p>
    <a class="btn btn-lg" href="../../screener">Torna al sito</a>
</div>
</div>