<form action="/wallet/movimenti" method='post' class="row" >
  <div class="row">
    <div class="col-4 px-4">
      <h2>Aggiungi al wallet:</h2>
    </div>
    <div class="col-4">
      <input list="brow" class="form-control me-2" type="search" name="isin" id="isin"placeholder="Ricerca ISIN" aria-label="Cerca" required>
      <datalist id="brow">
        <% @aggiunta.each do |i|%>
          <option value=<%= i.isin %>>
        <% end %>
      </datalist>
    </div>
    <div class="col-2">
      <input name='quantita' id='quantita' type='number' min='1' placeholder="Quantità" class='form-control' required>
    </div>
    <div class="col-2">
      <button type="submit" class="btn btn-primary">Aggiungi</button>
    </div>
  </div>
</form>