<div id="<%= dom_id wallet %>">
  <p>
    <strong>User:</strong>
    <%= wallet.user %>
  </p>

  <p>
    <strong>Azione:</strong>
    <%= wallet.azione %>
  </p>

  <p>
    <strong>Quantità:</strong>
    <%= wallet.quantità %>
  </p>

</div>
