<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class=" container alert alert-danger">
      <% resource.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
  </div>
<% end %>
