<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QQQFinance</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  </head>
  <body class="sfondo_home">
    <%= render "/header"%>
    <div class="container">

    <div class="position-relative">
      <p class="text-center">QQQFinance</p>
    </div>
    <div class="position-relative m-4 d-md-flex justify-content-md-center">
      <i class="bi-search" style="font-size: 2rem; color: cornflowerblue;"></i>
    </div>  
    <div class="position-relative m-4 d-md-flex justify-content-md-center">
      <div class="col-auto">
        <i class="bi-search"></i>
      </div>

      <div class="col-auto">
      <form action="/index/cerca" method='post' id="form-home">      
      <input list="lista" class="form-control me-2" type="search" name='ricerca' id='ricerca' placeholder="Ricerca" aria-label="Cerca" >
       <datalist id="lista">
        <%@ricerca.each do |i|%>
         <option value=<%=i[0] %>(<%=i[1]%>)>
        <%end%>
       </datalist>
       <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
       </form>
      </div>
    </form>

    </div>
    <div class="d-grid gap-4 d-md-flex justify-content-md-center">
      <a href="../screener" class="btn btn-primary" role="button" data-bs-toggle="button">Screener</a>
      <% if current_user %>
        <a href="../wallet" class="btn btn-primary" role="button" data-bs-toggle="button">Wallet</a>
      <% else %>
        <a class="btn btn-primary disabled" aria-disabled="true" role="button" data-bs-toggle="button">Wallet</a>
      <% end %>    
    </div>
    <div class="position-relative m-4 d-grid gap-2 d-md-flex justify-content-md-center">
     <% if !current_user %>
      <button type="button" class="btn btn-primary btn-lg" href="../login">Login</button>
      <%else%>
      <button type="button" class="btn btn-primary btn-lg" href="../logout">Logout</button> <!--implementa logout-->
      <%end%>
    </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var form = document.querySelector("#form-home");
    var input = document.querySelector("#ricerca");

    input.addEventListener("keyup", function(event) {
      event.preventDefault();
      if (event.keyCode === 13) {
        form.submit();
      }
    });
  });
</script>
  </body>
</html>