    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">  
        <div class="container-fluid">
            <a class="navbar-brand ms-2" href="../.." > QQQFinance</a>
            <% if controller_name == "index"%>
             <i class="icona_header bi bi-house d-flex ms-md-auto"></i>
            <% elsif controller_name == "wallets"%>
             <i class="icona_header bi bi-wallet2 d-flex ms-md-auto"></i>
            <% elsif controller_name == "news"%>
             <i class="icona_header bi bi-newspaper d-flex ms-md-auto"></i>
            <% elsif controller_name == "screener"%>
             <i class="icona_header bi bi-graph-up d-flex ms-md-auto"></i>
            <% elsif controller_name == "contacts"%>
             <i class="icona_header bi bi-envelope d-flex ms-md-auto"></i>
            <%end%> 
            
            <ul class="navbar-nav ms-md-auto nav-link m-2 " >
            <% if current_user %>
                <li class='ms-2 link-light'><i class="bi bi-person-circle"></i>
                    <a href='/users' class='link-light ps-2'><%= current_user.nome %> </a>
                </li>
                <li class='ms-2'><a href='/users/sign_out' class='link-light'>Logout</a></li> 
            <% else %> 
                <li class='nav-link m-2'><a href='/users/sign_in' class='link-light'>Accedi</a></li>
                <li class='nav-link m-2'><a href='/users/sign_up' class='link-light'>Registrati</a></li>
            <% end %> 
            </ul>  
        </div>
    </nav>
    <nav class="navbar navbar-dark bg-primary ">     
        <div class="row ps-3">
            <a class='link-light col-3 ps-3 nav-link' href="/">Home</a>
            <% if current_user %>
                <a class='link-light col-3 ps-3 nav-link' href="/wallet">Wallet</a>
            <% else %> 
                <a class='link-light col-3 ps-3 nav-link disabled' href="/wallet">Wallet</a>
            <% end %> 
            <a class='link-light col-3 ps-3 nav-link' href="/screener" >Screener</a>
            <a class='link-light col-3 ps-4 nav-link' disabled href="/news" >Notizie</a>
        </div> 
    </nav>


